*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: content-box;
}

body,html{
    width: 100%;
    height: 100%;
}


div.grid-graph{ 
    display: block;
    margin: 0 auto;
    padding: 1em 0;
    color: #c3c3c3;
    background: #2b2929;
}

.box-graphics{
    width: 70%;
    margin:3em auto;
    height: 500px;
    position: relative;
    cursor: pointer;
    transition: 2s all;
}
.graphics-info{
    display:flex;
    justify-content: space-between;
}

.graphics-info > button{
    height: 30px;
    margin: 0.5em 0;
}
.center{
    margin: 0 auto;
}
.monitor:hover > .box-graphics {
    width: 84%;
}

.graph{
    position:absolute;
    top: 100px;
    display: flex;
    flex-shrink: 1fr;
}

.expand{
    cursor: pointer;
}
.expand:hover{
    width:100%;

}